body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100vw;
    background-color: #1F2937;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    flex: auto;
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: none;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    flex: 0 1 auto;
    color: #e5e7eb;
    font-size: 18px;
    gap: 16px;
}

li {
    flex: auto;
}

.footer {
    flex:auto;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px;
    text-align: center;

}

.intro{
    flex: auto;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

}

.hero-container{
    flex:auto;
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 8px;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.intro-img {
    flex: auto;
    padding: 48px;
    width: 50%;
}

img {
    width: 100%;
}

.hero-button{
    flex:auto;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;


}

button {
    border: none;
    border-radius: 8px;
    width:fit-content;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
}
